<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/recursos/css/style.css">
</head>
<body>
    <div class="cabecera" id="head">
        <h2>MaxMorn</h2>
        <h1>
            Bienvenido a
            <br>
            MaxMorn
        </h1>
        <p>
            Sal, descubre y viaja... Te ofrecemos los mejores planes para ti.
            <br>
            Para que nada detenga tus ganas de disfrutar.
        </p>
    </div>


    <div class="pie" id="foot">

        <div class="textoP">
            <h3>Nuestro Desafio: ¡Que lo pases en grande!</h3>
        </div>

        <div class="one">
            <div class="imagen">
                <div class="imagen1"></div>
            </div>
            <div class="texto">
                <center>
                    <p>
                    <h3>Tu eliges la forma de pago</h3>
                    Tu eliges las mensualidades, intereses y comienza a operar sin ningun costo.
                    </p>
                </center>
            </div>
        </div>

        <div class="one">
            <div class="imagen">
                <div class="imagen2"></div>
            </div>
            <div class="texto">
                <center>
                    <p>
                    <h3>Protege tus compras</h3>
                    Puedes realizar todas las compras en linea sin riesgos y si no recibes tus compras puedes solicitar
                    una devolucion.
                    </p>
                </center>
            </div>
        </div>

        <div class="one">
            <div class="imagen">
                <div class="imagen3"></div>
            </div>
            <div class="texto">
                <center>
                    <p>
                    <h3>La devolucion va por cuenta de nosotros</h3>
                    Al momento que solicites una devolucion, nosotros seremos que se encargue de todo para que si o si
                    obtengas tu merecido rembolso
                    </p>
                </center>
            </div>
        </div>

        <div class="four">
            <h3>¡Empieza a aprovechar tu dinero!</h3>
        </div>
    </div>
    <script>
    </script>
</body>
</html>