<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retiro</title>
    <link rel="stylesheet" href="/recursos/css/deposito.css">
</head>
<body>
    <div class="box">
        <div class="logo"></div>
        <form class="cuerpo" method="post" action="/retiro">
            <h1>Retiro</h1>
            <input type="text" placeholder="Ingresa su nombre de Usuario" class="dato" name="name" required>
            <input type="number" placeholder="Ingresa la Cantidad a Retirar" class="dato" name="dinero" required>
            <input type="password" placeholder="Escriba su NIP para confirmar movimiento" class="dato" name="nip" required>
            <input type="submit" value="Enviar" class="set">
        </div>  
    </div>
</body>
</html>